<form action="/signup" method="POST">

<label for="username">Username:</label>
<input type="text" name="username" id="username">

<label for="password">Password:</label>
<input type="password" name="password" id="password">

<label for="role">Select a Role:</label>

<select name="role" id="role">
  <option value="trainer">Trainer</option>
  <option value="trainee">Trainee</option>
</select>

<button type="submit">Sign up</button>

</form>