<div class="logo-container">
  <img class="logo" src="https://res.cloudinary.com/dwhml6ftw/image/upload/v1600342229/movies-example/Mind-Muscle_Connection_kc8gf7.png" alt="logo">

  <button><a href="/signup">Sign Up</a></button>
  <button><a href="/login">Log In</a></button>


</div>


